/***********CSSRESET********/

* {
    margin: 0;
    padding:  0;
    box-sizing: border-box;
}

/*FONTS*/
h1 {
    font-family:  Edu Tas Beginner, sans-serif;
}

.tx_ita {
    font-family:  Edu Tas Beginner, sans-serif;
    font-style: italic;
}

header {
    background-image: url(../img/wall.png);
    height: 148px;
    display: flex;
    justify-content: center;
    align-items: center;
}


main {
    height: 960px;
    background-image: url(../img/cork.png);

}

.container {
    width: 70%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;
}

.col {
    padding: 1rem;
    width: calc(100% / 12 * 4) ;
}

.card {
    width: 296px;
    height: 360px;
    background-color: white;
    padding: 1rem;
    margin:  0 auto;
    position: relative;


    .card_head {
    width: 264px;
    height: 264px;

        .pin {
            position: absolute;
            top: -10px;
            left: 45%;
        }

        .card_img {
            max-width: 100%;
            height: 100%;
        }
    }
    .card_body {
        margin-top: 1rem;
    }
}


