/***********CSSRESET********/

* {
    margin: 0;
    padding:  0;
    box-sizing: border-box;
}

/*FONTS*/
h1 {
    font-family:  Edu Tas Beginner, sans-serif;
    font-size: 5rem;
}

.tx_ita {
    font-family:  Sometype Mono, monospace;
    font-style: italic;
}

header {
    background-image: url(../img/wall.png);
    height: 148px;
    display: flex;
    justify-content: center;
    align-items: center;
}


main {
    
    background-image: url(../img/cork.png);

}

.container {
    width: 60%;
    margin: 0 auto;
    padding-top: 3rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col {
    padding: 1rem;
    width: calc(100% / 12 * 4) ;
}

.card {
    
    
    background-color: white;
    padding: 1rem;
    
    position: relative;


    
    .card_head {

        


        .pin {
        position: absolute;
        transform: translate(-15px, -15px);
        left: 50%;
        }

        .card_img {
        width: 100%;
            
        }

    }
   

    
    
    .card_body {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .date {
            font-weight: 600;
        }
    }
}


/******MEDIAQUEERIES*******/

/* @media screen and () {
    
}
 */
